[data-class] {
	display: none;
}
/*
	Hanulse Group
*/
.hanulse-group {
	display: block;
	position: absolute;
	pointer-events: none;
	-ms-user-select: none; 
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
/*
	Hanulse Cell
*/
.hanulse-cell {
	display: block;
	position: absolute;
	pointer-events: none;
	-ms-user-select: none; 
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none
}
.hanulse-cell_shape:hover {
	filter: brightness(1.25);
}
.hanulse-cell_shape:active {
	filter: brightness(1.5);
}
.hanulse-cell_shape-detail {
	stroke: rgb(82, 76, 18);
	stroke-width: 0.5;
	fill: transparent;
	fill-rule: evenodd;
	stroke-linecap: round;
	stroke-linejoin: round;
	pointer-events: auto;
}
.hanulse-cell_shape-detail:hover {
	stroke: rgb(255, 255, 255, 0.2);
	stroke-width: 2px;
}
.hanulse-cell_shape-detail:active {
	fill: rgba(255, 255, 255, 0.4);
}
.hanulse-cell_text-wrap {
	position: absolute;
	width: 200px;
	text-align: center;
	pointer-events: none;
}
.hanulse-cell_text {
	position: relative;
	display: inline;
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
	font-size: 13px;
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(0, 0, 60, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 4px;
	padding: 4px 8px;
	box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.4);
}
/*
	Hanulse Dialog
*/
.hanulse-dialog {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
	-ms-user-select: none; 
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none
}
.hanulse-dialog_black {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: -1;
	/*cursor: pointer;*/
}
/*
	Hanulse Menu
*/
.hanulse-menu_list {
	position: relative;
	width: 280px;
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(0, 0, 60, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 6px;
	padding: 8px 4px;
	box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.4);
	z-index: 1;
}
/*
	Hanulse Menu Item
*/
.hanulse-menu-item {
	display: block;
	height: 20px;
	color: white;
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 2px 8px;
	margin: 2px 4px;
	overflow: hidden;
	z-index: 1;
	pointer-events: auto;
	-ms-user-select: none; 
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none
}
.hanulse-menu-item:hover {
	color: white;
	background-color: rgba(40, 120, 160, 0.8);
	box-shadow: 0px 0px 4px 0px rgba(40, 120, 160, 0.4);
}
.hanulse-menu-item:active {
	color: white;
	background-color: rgba(20, 80, 120, 0.8);
	box-shadow: 0px 0px 4px 0px rgba(20, 60, 80, 0.4);
}
.hanulse-menu-item>a {
	color: white;
	text-decoration: none;
}
.hanulse-menu-item_text {
	display: block;
	float: left;
	width: 160px;
	font-size: 13px;
	line-height: 18px;
	text-align: left;
	vertical-align: middle;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.hanulse-menu-item_status {
	display: block;
	position: absolute;
	right: 16px;
	width: 60px;
	font-size: 11px;
	line-height: 18px;
	vertical-align: middle;
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
}
/*
	Hanulse Memo
*/
.hanulse-memo_box {
	position: relative;
	width: 280px;
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(0, 0, 60, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 4px;
	box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.4);
}
.hanulse-memo_text {
	position: relative;
	font-size: 13px;
	line-height: 24px;
	text-align: left;
	vertical-align: middle;
	margin: 8px 12px;
    word-break: keep-all;
    text-overflow: ellipsis;
    overflow: hidden;
}
/*
	Hanulse Image
*/
.hanulse-image_box {
	position: absolute;
	width: 400px;
	height: 300px;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: contain;
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(0, 0, 60, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 4px;
	box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.4);
}
/*
	Hanulse Input
*/
.hanulse-input_box {
	position: relative;
	width: 280px;
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(0, 0, 60, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 4px;
	box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.4);
}
.hanulse-input_text {
	position: relative;
	font-size: 13px;
	line-height: 24px;
	text-align: left;
	vertical-align: middle;
	margin: 4px 12px;
}
.hanulse-input_input {
	position: relative;
	width: 200px;
	color: black;
	background-color: white;
	font-size: 13px;
	line-height: 18px;
	margin: 4px 12px;
	padding: 4px 8px;
	border: none;
	border-radius: 4px;
	box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.5);
}
.hanulse-input_submit {
	position: relative;
	width: 216px;
	height: 28px;
	color: white;
	background-color: #006699;
	font-size: 13px;
	margin: 8px 12px 12px;
	border: none;
	border-radius: 4px;
	box-shadow: 0px 0px 5px 0px #006699;
}
.hanulse-input_submit:hover {
	background-color: #0099CC;
	box-shadow: 0px 0px 5px 0px #0099CC;
}
.hanulse-input_submit:active {
	background-color: #003366;
	box-shadow: 0px 0px 5px 0px #003366;
}
/*
	Hanulse Effect
*/
/* Effect float */
@keyframes hanulse-effect-float_ground {
	0% {opacity: 0.0; transform: translateY(0px);}
	50% {opacity: 0.5; transform: translateY(0px);}
	80% {opacity: 1.0; transform: translateY(-5px);}
	100% {opacity: 0.0; transform: translateY(-15px);}
}
.hanulse-effect-float_ground {
	fill: rgba(255, 255, 255, 0.4);
	opacity: 0.0;
	animation-name: hanulse-effect-float_ground;
	animation-delay: 0.0s;
	animation-duration: 2.0s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.hanulse-effect-float_ground.hanulse_i1 {animation-delay: 0.0s; animation-duration: 2.0s;}
.hanulse-effect-float_ground.hanulse_i2 {animation-delay: 0.5s; animation-duration: 2.0s;}
.hanulse-effect-float_ground.hanulse_i3 {animation-delay: 1.0s; animation-duration: 2.0s;}
/* Effect box */
@keyframes hanulse-effect-box_center {
	0% {opacity: 0.0; fill: url(#hanulse-effect-box_gradient-center);}
	50% {opacity: 1.0; fill: url(#hanulse-effect-box_gradient-center);}
	100% {opacity: 0.0; fill: url(#hanulse-effect-box_gradient-center);}
}
.hanulse-effect-box_center {
	fill: rgba(255, 255, 255, 0.0);
	opacity: 0.0;
	animation-name: hanulse-effect-box_center;
	animation-delay: 0.0s;
	animation-duration: 2.0s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.hanulse-effect-box_center.hanulse_i1 {animation-delay: 0.0s; animation-duration: 2.0s;}
.hanulse-effect-box_center.hanulse_i2 {animation-delay: 0.4s; animation-duration: 2.0s;}
.hanulse-effect-box_center.hanulse_i3 {animation-delay: 0.8s; animation-duration: 2.0s;}
.hanulse-effect-box_center.hanulse_i4 {animation-delay: 1.2s; animation-duration: 2.0s;}
.hanulse-effect-box_center.hanulse_i5 {animation-delay: 1.6s; animation-duration: 2.0s;}
/* Effect box */
@keyframes hanulse-effect-flash_ground {
	0% {opacity: 0.0;}
	50% {opacity: 1.0;}
	90% {opacity: 0.0;}
}
.hanulse-effect-flash_ground {
	fill: rgba(255, 0, 0, 0.4);
	opacity: 0.0;
	animation-name: hanulse-effect-flash_ground;
	animation-delay: 0.0s;
	animation-duration: 1.0s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}
/* Effect circle(ground) */
@keyframes hanulse-effect-circle_ground-1 {
	0% {opacity: 0.0; transform: translate(0px, 0px);}
	50% {opacity: 1.0;}
	100% {opacity: 0.0; transform: translate(34px, 17px);}
}
@keyframes hanulse-effect-circle_ground-2 {
	0% {opacity: 0.0; transform: translate(0px, 0px);}
	50% {opacity: 1.0;}
	100% {opacity: 0.0; transform: translate(34px, -17px);}
}
@keyframes hanulse-effect-circle_ground-3 {
	0% {opacity: 0.0; transform: translate(0px, 0px);}
	50% {opacity: 1.0;}
	100% {opacity: 0.0; transform: translate(-34px, 17px);}
}
@keyframes hanulse-effect-circle_ground-4 {
	0% {opacity: 0.0; transform: translate(0px, 0px);}
	50% {opacity: 1.0;}
	100% {opacity: 0.0; transform: translate(-34px, -17px);}
}
.hanulse-effect-circle_ground-white {
	fill: rgba(255, 255, 255, 1.0);
	opacity: 0.0;
	/*animation-name: hanulse-effect-circle_ground-1;*/
	animation-delay: 0.0s;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.hanulse-effect-circle_ground-white.hanulse_i1 {animation-name: hanulse-effect-circle_ground-1;}
.hanulse-effect-circle_ground-white.hanulse_i2 {animation-name: hanulse-effect-circle_ground-2;}
.hanulse-effect-circle_ground-white.hanulse_i3 {animation-name: hanulse-effect-circle_ground-3;}
.hanulse-effect-circle_ground-white.hanulse_i4 {animation-name: hanulse-effect-circle_ground-4;}
.hanulse-effect-circle_ground-red {
	fill: rgba(255, 0, 0, 0.8);
	opacity: 0.0;
	/*animation-name: hanulse-effect-circle_ground-1;*/
	animation-delay: 0.4s;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.hanulse-effect-circle_ground-red.hanulse_i1 {animation-name: hanulse-effect-circle_ground-1;}
.hanulse-effect-circle_ground-red.hanulse_i2 {animation-name: hanulse-effect-circle_ground-2;}
.hanulse-effect-circle_ground-red.hanulse_i3 {animation-name: hanulse-effect-circle_ground-3;}
.hanulse-effect-circle_ground-red.hanulse_i4 {animation-name: hanulse-effect-circle_ground-4;}
/* Effect circle(wall-right) */
@keyframes hanulse-effect-circle_wall-right-1 {
	0% {opacity: 0.0; transform: translate(0px, 0px);}
	50% {opacity: 1.0;}
	100% {opacity: 0.0; transform: translate(34px, 17px);}
}
@keyframes hanulse-effect-circle_wall-right-2 {
	0% {opacity: 0.0; transform: translate(0px, 0px);}
	50% {opacity: 1.0;}
	100% {opacity: 0.0; transform: translate(0px, 31px);}
}
@keyframes hanulse-effect-circle_wall-right-3 {
	0% {opacity: 0.0; transform: translate(0px, 0px);}
	50% {opacity: 1.0;}
	100% {opacity: 0.0; transform: translate(-34px, -17px);}
}
@keyframes hanulse-effect-circle_wall-right-4 {
	0% {opacity: 0.0; transform: translate(0px, 0px);}
	50% {opacity: 1.0;}
	100% {opacity: 0.0; transform: translate(0px, -31px);}
}
.hanulse-effect-circle_wall-right-white {
	fill: rgba(255, 255, 255, 1.0);
	opacity: 0.0;
	/*animation-name: hanulse-effect-circle_wall-right-1;*/
	animation-delay: 0.0s;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.hanulse-effect-circle_wall-right-white.hanulse_i1 {animation-name: hanulse-effect-circle_wall-right-1;}
.hanulse-effect-circle_wall-right-white.hanulse_i2 {animation-name: hanulse-effect-circle_wall-right-2;}
.hanulse-effect-circle_wall-right-white.hanulse_i3 {animation-name: hanulse-effect-circle_wall-right-3;}
.hanulse-effect-circle_wall-right-white.hanulse_i4 {animation-name: hanulse-effect-circle_wall-right-4;}
.hanulse-effect-circle_wall-right-red {
	fill: rgba(255, 0, 0, 0.8);
	opacity: 0.0;
	/*animation-name: hanulse-effect-circle_wall-right-1;*/
	animation-delay: 0.4s;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.hanulse-effect-circle_wall-right-red.hanulse_i1 {animation-name: hanulse-effect-circle_wall-right-1;}
.hanulse-effect-circle_wall-right-red.hanulse_i2 {animation-name: hanulse-effect-circle_wall-right-2;}
.hanulse-effect-circle_wall-right-red.hanulse_i3 {animation-name: hanulse-effect-circle_wall-right-3;}
.hanulse-effect-circle_wall-right-red.hanulse_i4 {animation-name: hanulse-effect-circle_wall-right-4;}
/* Effect circle(wall-left) */
@keyframes hanulse-effect-circle_wall-left-1 {
	0% {opacity: 0.0; transform: translate(0px, 0px);}
	50% {opacity: 1.0;}
	100% {opacity: 0.0; transform: translate(34px, -17px);}
}
@keyframes hanulse-effect-circle_wall-left-2 {
	0% {opacity: 0.0; transform: translate(0px, 0px);}
	50% {opacity: 1.0;}
	100% {opacity: 0.0; transform: translate(0px, 31px);}
}
@keyframes hanulse-effect-circle_wall-left-3 {
	0% {opacity: 0.0; transform: translate(0px, 0px);}
	50% {opacity: 1.0;}
	100% {opacity: 0.0; transform: translate(-34px, 17px);}
}
@keyframes hanulse-effect-circle_wall-left-4 {
	0% {opacity: 0.0; transform: translate(0px, 0px);}
	50% {opacity: 1.0;}
	100% {opacity: 0.0; transform: translate(0px, -31px);}
}
.hanulse-effect-circle_wall-left-white {
	fill: rgba(255, 255, 255, 1.0);
	opacity: 0.0;
	/*animation-name: hanulse-effect-circle_wall-left-1;*/
	animation-delay: 0.0s;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.hanulse-effect-circle_wall-left-white.hanulse_i1 {animation-name: hanulse-effect-circle_wall-left-1;}
.hanulse-effect-circle_wall-left-white.hanulse_i2 {animation-name: hanulse-effect-circle_wall-left-2;}
.hanulse-effect-circle_wall-left-white.hanulse_i3 {animation-name: hanulse-effect-circle_wall-left-3;}
.hanulse-effect-circle_wall-left-white.hanulse_i4 {animation-name: hanulse-effect-circle_wall-left-4;}
.hanulse-effect-circle_wall-left-red {
	fill: rgba(255, 0, 0, 0.8);
	opacity: 0.0;
	/*animation-name: hanulse-effect-circle_wall-left-1;*/
	animation-delay: 0.4s;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.hanulse-effect-circle_wall-left-red.hanulse_i1 {animation-name: hanulse-effect-circle_wall-left-1;}
.hanulse-effect-circle_wall-left-red.hanulse_i2 {animation-name: hanulse-effect-circle_wall-left-2;}
.hanulse-effect-circle_wall-left-red.hanulse_i3 {animation-name: hanulse-effect-circle_wall-left-3;}
.hanulse-effect-circle_wall-left-red.hanulse_i4 {animation-name: hanulse-effect-circle_wall-left-4;}
/* Effect warp */
@keyframes hanulse-effect-warp_center {
	0% {opacity: 0.3; fill: url(#hanulse-effect-warp_gradient-center);}
	20% {opacity: 0.6; fill: url(#hanulse-effect-warp_gradient-center);}
	50% {opacity: 0.3; fill: url(#hanulse-effect-warp_gradient-center);}
	70% {opacity: 0.7; fill: url(#hanulse-effect-warp_gradient-center);}
	100% {opacity: 0.3; fill: url(#hanulse-effect-warp_gradient-center);}
}
@keyframes hanulse-effect-warp_small-band {
	0% {opacity: 0.0; transform: translateY(40px);}
	30% {opacity: 1.0;}
	100% {opacity: 0.0; transform: translateY(-100px);}
}
@keyframes hanulse-effect-warp_large-band {
	30% {opacity: 0.0; transform: translateY(40px);}
	50% {opacity: 1.0;}
	100% {opacity: 0.0; transform: translateY(-100px);}
}
.hanulse-effect-warp_center {
	animation-name: hanulse-effect-warp_center;
	animation-delay: 0.0s;
	animation-duration: 1.0s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.hanulse-effect-warp_small-band {
	fill: rgba(255, 255, 255, 0.6);
	opacity: 0.0;
	animation-name: hanulse-effect-warp_small-band;
	animation-delay: 0.0s;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}
.hanulse-effect-warp_small-band.hanulse_i1 {animation-delay: 0.0s; animation-duration: 0.8s;}
.hanulse-effect-warp_small-band.hanulse_i2 {animation-delay: 0.4s; animation-duration: 0.8s;}
.hanulse-effect-warp_large-band {
	fill: rgba(255, 255, 255, 0.4);
	opacity: 0.0;
	animation-name: hanulse-effect-warp_large-band;
	animation-delay: 0.2s;
	animation-duration: 1.0s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}
/* Effect warp-big */
@keyframes hanulse-effect-warp-big_center {
	0% {opacity: 0.3; fill: url(#hanulse-effect-warp-big_gradient-center-white);}
	10% {opacity: 0.6; fill: url(#hanulse-effect-warp-big_gradient-center-white);}
	25% {opacity: 0.3; fill: url(#hanulse-effect-warp-big_gradient-center-white);}
	27% {opacity: 0.0; fill: url(#hanulse-effect-warp-big_gradient-center-white);}
	29% {opacity: 0.3; fill: url(#hanulse-effect-warp-big_gradient-center-red);}
	35% {opacity: 0.7; fill: url(#hanulse-effect-warp-big_gradient-center-red);}
	45% {opacity: 0.3; fill: url(#hanulse-effect-warp-big_gradient-center-red);}
	50% {opacity: 0.0; fill: url(#hanulse-effect-warp-big_gradient-center-red);}
	55% {opacity: 0.3; fill: url(#hanulse-effect-warp-big_gradient-center-blue);}
	60% {opacity: 0.6; fill: url(#hanulse-effect-warp-big_gradient-center-blue);}
	75% {opacity: 0.3; fill: url(#hanulse-effect-warp-big_gradient-center-blue);}
	77% {opacity: 0.0; fill: url(#hanulse-effect-warp-big_gradient-center-blue);}
	79% {opacity: 0.3; fill: url(#hanulse-effect-warp-big_gradient-center-yellow);}
	85% {opacity: 0.7; fill: url(#hanulse-effect-warp-big_gradient-center-yellow);}
	100% {opacity: 0.3; fill: url(#hanulse-effect-warp-big_gradient-center-yellow);}
}
@keyframes hanulse-effect-warp-big_small-band {
	0% {opacity: 0.0; transform: translateY(40px);}
	30% {opacity: 1.0;}
	100% {opacity: 0.0; transform: translateY(-100px);}
}
@keyframes hanulse-effect-warp-big_large-band {
	30% {opacity: 0.0; transform: translateY(40px);}
	50% {opacity: 1.0;}
	100% {opacity: 0.0; transform: translateY(-100px);}
}
@keyframes hanulse-effect-warp-big_xlarge-band {
	30% {opacity: 0.0; transform: translateY(0px);}
	50% {opacity: 1.0;}
	100% {opacity: 0.0; transform: translateY(-140px);}
}
@keyframes hanulse-effect-warp-big_stick {
	30% {opacity: 0.0; transform: translateY(40px);}
	50% {opacity: 1.0;}
	100% {opacity: 0.0; transform: translateY(-120px);}
}
.hanulse-effect-warp-big_center {
	animation-name: hanulse-effect-warp-big_center;
	animation-delay: 0.0s;
	animation-duration: 2.0s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.hanulse-effect-warp-big_small-band {
	fill: rgba(255, 255, 255, 0.6);
	opacity: 0.0;
	animation-name: hanulse-effect-warp-big_small-band;
	animation-delay: 0.0s;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}
.hanulse-effect-warp-big_small-band.hanulse_i1 {animation-delay: 0.0s; animation-duration: 0.8s;}
.hanulse-effect-warp-big_small-band.hanulse_i2 {animation-delay: 0.4s; animation-duration: 0.8s;}
.hanulse-effect-warp-big_large-band {
	fill: rgba(255, 255, 255, 0.4);
	opacity: 0.0;
	animation-name: hanulse-effect-warp-big_large-band;
	animation-delay: 0.0s;
	animation-duration: 1.0s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}
.hanulse-effect-warp-big_large-band.hanulse_i1 {fill: rgba(255, 255, 200, 0.4); animation-delay: 0.2s; animation-duration: 1.0s;}
.hanulse-effect-warp-big_large-band.hanulse_i2 {fill: rgba(200, 255, 255, 0.4); animation-delay: 0.4s; animation-duration: 1.2s;}
.hanulse-effect-warp-big_xlarge-band {
	fill: rgba(255, 255, 255, 0.4);
	opacity: 0.0;
	animation-name: hanulse-effect-warp-big_large-band;
	animation-delay: 0.2s;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}
.hanulse-effect-warp-big_xlarge-band.hanulse_i1 {fill: rgba(255, 255, 200, 0.4); animation-delay: 0.2s; animation-duration: 1.2s;}
.hanulse-effect-warp-big_xlarge-band.hanulse_i2 {fill: rgba(255, 200, 255, 0.4); animation-delay: 0.6s; animation-duration: 1.4s;}
.hanulse-effect-warp-big_xlarge-band.hanulse_i3 {fill: rgba(200, 255, 255, 0.4); animation-delay: 1.2s; animation-duration: 1.6s;}
.hanulse-effect-warp-big_stick {
	fill: rgba(255, 255, 255, 0.5);
	opacity: 0.0;
	animation-name: hanulse-effect-warp-big_stick;
	animation-delay: 1.2s;
	animation-duration: 1.6s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}
.hanulse-effect-warp-big_stick.hanulse_i1 {animation-delay: 0.0s; animation-duration: 1.1s;}
.hanulse-effect-warp-big_stick.hanulse_i2 {animation-delay: 0.2s; animation-duration: 1.2s;}
.hanulse-effect-warp-big_stick.hanulse_i3 {animation-delay: 0.4s; animation-duration: 1.3s;}
.hanulse-effect-warp-big_stick.hanulse_i4 {animation-delay: 0.6s; animation-duration: 1.4s;}
.hanulse-effect-warp-big_stick.hanulse_i5 {animation-delay: 0.8s; animation-duration: 1.5s;}
.hanulse-effect-warp-big_stick.hanulse_i6 {animation-delay: 1.0s; animation-duration: 1.6s;}
.hanulse-effect-warp-big_stick.hanulse_i7 {animation-delay: 1.2s; animation-duration: 1.7s;}
.hanulse-effect-warp-big_stick.hanulse_i8 {animation-delay: 1.4s; animation-duration: 1.8s;}

.hanulse-texture-defines {
	width: 1px;
	height: 1px;
	z-index: -1;
}