[data-class] {
	display: none;
}
.hanulse-group {
	display: block;
	position: absolute;
	pointer-events: none;
	-ms-user-select: none; 
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none
}
.hanulse-cell {
	display: block;
	position: absolute;
	pointer-events: none;
	-ms-user-select: none; 
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none
}
.hanulse-cell_ground:hover {
	fill: #FFC800;
}
.hanulse-cell_ground:active {
	fill: #00C8FF;
}
.hanulse-cell_wall-left:hover {
	fill: #DDA600;
}
.hanulse-cell_wall-left:active {
	fill: #00A6DD;
}
.hanulse-cell_wall-right:hover {
	fill: #EEB700;
}
.hanulse-cell_wall-right:active {
	fill: #00B7EE;
}
.hanulse-cell_text-wrap {
	position: absolute;
	width: 120px;
	text-align: center;
	pointer-events: none;
}
.hanulse-cell_text {
	position: relative;
	display: inline;
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
	font-size: 13px;
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(0, 0, 60, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 4px;
	padding: 4px 8px;
	box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.4);
}
.hanulse-dialog {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
	-ms-user-select: none; 
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none
}
.hanulse-dialog_black {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 600px;
	height: 500px;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: -1;
}
.hanulse-menu_list {
	position: absolute;
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(0, 0, 60, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 6px;
	padding: 8px 4px;
	box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.4);
	z-index: 1;
}
.hanulse-menu-item {
	display: block;
	height: 20px;
	color: white;
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 4px 8px;
	margin: 0px 4px;
	overflow: hidden;
	z-index: 1;
	pointer-events: auto;
	-ms-user-select: none; 
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none
}
.hanulse-menu-item:hover {
	color: white;
	background-color: rgba(40, 120, 160, 0.8);
	box-shadow: 0px 0px 5px 0px rgba(40, 120, 160, 0.8);
}
.hanulse-menu-item:active {
	color: white;
	background-color: rgba(20, 80, 120, 0.8);
	box-shadow: 0px 0px 5px 0px rgba(20, 60, 80, 0.8);
}
.hanulse-menu-item>a {
	color: white;
	text-decoration: none;
}
.hanulse-menu-item_text {
	display: block;
	float: left;
	width: 140px;
	font-size: 13px;
	line-height: 18px;
	vertical-align: middle;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.hanulse-menu-item_status {
	display: block;
	position: absolute;
	right: 16px;
	width: 60px;
	font-size: 11px;
	line-height: 18px;
	vertical-align: middle;
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
}
.hanulse-memo_box {
	position: absolute;
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(0, 0, 60, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 4px;
	box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.4);
}
.hanulse-memo_text {
	position: relative;
	font-size: 13px;
	line-height: 24px;
	vertical-align: middle;
	margin: 8px 12px;
}
.hanulse-input_box {
	position: absolute;
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(0, 0, 60, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 4px;
	box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.4);
}
.hanulse-input_text {
	position: relative;
	font-size: 13px;
	line-height: 24px;
	vertical-align: middle;
	margin: 4px 12px;
}
.hanulse-input_input {
	position: relative;
	width: 160px;
	color: black;
	background-color: white;
	font-size: 13px;
	line-height: 18px;
	margin: 4px 12px;
	padding: 4px 8px;
	border: none;
	border-radius: 4px;
	box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.5);
}
.hanulse-input_submit {
	position: relative;
	width: 176px;
	height: 28px;
	color: white;
	background-color: #006699;
	font-size: 13px;
	margin: 8px 12px 12px;
	border: none;
	border-radius: 4px;
	box-shadow: 0px 0px 5px 0px #006699;
}
.hanulse-input_submit:hover {
	background-color: #0099CC;
	box-shadow: 0px 0px 5px 0px #0099CC;
}
.hanulse-input_submit:active {
	background-color: #003366;
	box-shadow: 0px 0px 5px 0px #003366;
}